.header{
    width: 100%;
    padding: 30px 5%;
    box-sizing: border-box;
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
}

.titleBlock{
    display: flex;
    align-items: center;
}

.title1{
    color: #A0AEC0;
    margin-right: 4px;
}

.user{
    display: flex;
    align-items: center;
}

.userItem{
    display: flex;
    align-items: center;
    font-family: "Mulish Bold";
}

.linkBody{
    margin-left: 15px;
}

.list{
    display: flex;
    flex-direction: column;
    color: #8B909A !important;
    margin-top: 30px;
}

.listTitle{
    font-size: 14px;
    margin-bottom: 15px;
}

.listItem{
    color: #8B909A !important;
    font-size: 18px;
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: .3s;
}

.listItem:hover{
    background-color: #F3F4F8;
}